/* CSS declarations go here */

.sidebar{
	height: 600px;
	background-color: blue;
	

}

.description{
	background-color: #f0f0f0;
	height: 50px;
	padding: 5px;
	font-size: 10px;
}

.gap{
	height: 50px;
}



.header{
	font-weight: bold;
	background-color: red;
}
